@{
    ViewBag.Title = "Index";
    ViewBag.IncludeHeader = false;
}
<h1>Welcome to OSBIDE</h1>
<p>
    OSBIDE is a plugin for Microsoft's Visual Studio that transforms your programming course into a social learning environment 
    that encourages communication and collaboration between students, instructors, and TAs.  To begin, please <a href="http://osbide.codeplex.com/">download 
    the necessary OSBIDE files</a> from codeplex.
</p>
<h2 style="padding-top: 15px;">Log into OSBIDE</h2>
<p>
    Users that have an active connection to OSBIDE inside Visual Studio have the option of using the web interface.
    @Html.ActionLink("Click here to log into OSBIDE", "Login", new { controller = "Account" }, new { }) with your user name.
</p>
<h2 style="padding-top: 15px;">Learning More</h2>
<p>
    You can learn more about OSBIDE by reading the <a href="http://osbide.codeplex.com/documentation">user manual</a>.  To learn
    more about related projects, please visit <a href="http://helplab.org/">helplag.org</a>.
</p>
