@{
    ViewBag.Title = "OSBIDE Plugin Required";
    Layout = null;
}
<h1>OSBIDE Plugin Error</h1>
<p>
    Oops!  It looks like you haven't logged into OSBIDE through the Visual Studio plugin in the past week.  
    Remember, you must have the plugin installed in order to access OSBIDE.  
    If you still need to install the plugin, please visit <a href="">https://osbide.codeplex.com/</a>.
</p>
