@{
    ViewBag.Title = "OSBIDE Plugin Warning";
}
<h1>OSBIDE Plugin Warning</h1>
<p>
    Hey there!  It looks like you haven't used the OSBIDE plugin in a while.
    In order for you to access this page, you must periodically log into OSBIDE through the Visual Studio plugin.
    If you still need to install the plugin, please visit <a href="">https://osbide.codeplex.com/</a>.
</p>

