@using OSBIDE.Web.Models.ViewModels
@using OSBIDE.Library.Models
@{
    ViewBag.Title = "My Courses";
    
    /* 
     * For each course:
     *      * Display current assignment, due date, and assignment prompt
     *      * Display lin
     *  1. Display courses based on role and ony when appicable (i.e. don't display coordinator section if user role is student)
     *  2. If user role is instructor, give the option to create a new course
     *  3. For all users, allow user to enroll in new course
     *  4. For each course type, provide the following: 
     *      a. Provide a link to the assignment listings page
     *      b. Provide a link to the course's roster
     *  5. For courses in which the user is a coordinator, also provide:
     *      a. A link to edit the course's information
     * */
    
}
<h2>My Courses</h2>