
@{
    ViewBag.Title = "NoCourses";
}

<h2>You aren't in any courses...</h2>
<p>
    ...but don't worry, it's easy to join a course!  Simply ues the @Html.ActionLink("course finder", "Search").
</p>

