@{
    ViewBag.Title = "CreateComplete";
}

<h2>Account Created</h2>
<p>
    You account has been successfully created.  You may now log into OSBIDE through Visual Studio by clicking on "Tools" and selecting "Log in to OSBIDE."
</p>